<h1>What is Hill Cipher?</h1>

<p>
    The Hill Cipher is a polygraphic substitution cipher that encrypts text by matrix multiplication. Lester Hill devised it in 1929, making it one of the first linear algebra-based encryption systems.
</p>

<p>
    The Hill Cipher encrypts letters as blocks rather than individually. A key matrix (a square matrix) is used to convert plaintext to ciphertext using modular arithmetic. To decrypt, the inverted key matrix is utilized.
</p>

<h2>Key Generation</h2>

<h3>Step 1:</h3>
<p>
    Choose a key matrix $K$ of size $n \times n$ (e.g., $2 \times 2$ or $3 \times 3$). In this program the user only indicates the size of the key and the program will automatically generate the key.
</p>
<div class="step">
    $$
    \begin{bmatrix}
    a & b & c \\
    d & e & f \\
    g & e & h
    \end{bmatrix}
    $$
</div>

<h3>Step 2:</h3>
<p>
    The program ensures that the key matrix $K$ is invertible $\mod{26}$ (for the English alphabet).
</p>
<div class="step"></div>

<h3>Step 3:</h3>
<p>With user input $\text{ {{ s }} }$, the key will be:</p>
<div class="step">
    $$
    \begin{bmatrix}
    6  & 24 & 1 \\
    13 & 16 & 10 \\
    20 & 17 & 15
    \end{bmatrix}
    $$
</div>

<h2>Encryption</h2>

<h3>Step 1:</h3>
<p>Convert each letter to its corresponding numerical value.</p>
<div class="step">
    {# table #}
    $$A = 0, B = 1, \dots, Z = 25$$
</div>

<h3>Step 2:</h3>
<p>Multiply with key matrix $\mod{26}$. Compute $C = K \times P \mod{26}$.</p>
<div class="step">
    $$\tiny (6 \times 0 + 24 \times 2 + 1 \times 19) \mod{26} = (0 + 48 + 19) \mod{26} = 15$$

    $$\tiny (13 \times 0 + 16 \times 2 + 10 \times 19) \mod{26} = (0 + 32 + 190) \mod{26}  = 0$$

    $$\tiny (20 \times 0 + 17 \times 2 + 15*19) \mod{26} = (0 + 34 + 285) \mod{26} = 9$$
</div>

<h3>Step 3:</h3>
<p>Ciphertext in numbers.</p>
<div class="step">$$[ 15, 0, 9 ]$$</div>

<h3>Step 4:</h3>
<p>Convert back to letters.</p>
<div class="step">$$\text{PAJ}$$</div>
