<div>
    <h1>RSA Encryption</h1>
    <div>
        <h2>Step 1: Matrix n shit</h2>
        <p>Using the key "{{ text }}", blah blah blah...</p>
        $$
        \huge
        \begin{bmatrix}
        a & b & c \\
        d & e & f \\
        g & e & h
        \end{bmatrix}
        $$
    </div>
    <div>
        <h2>Step 2: Calculate using matrix</h2>
        <p>After creating the matrix from {{ text }}, multiply it with another matrix.</p>
        $$
        \huge
        \begin{bmatrix}
        a & b & c \\
        d & e & f \\
        g & e & h
        \end{bmatrix}
        \times
        \huge
        \begin{bmatrix}
        i & j & k \\
        l & m & n \\
        o & p & q
        \end{bmatrix}
        $$
    </div>
</div>
