<h1>Key Generation</h1>

<h2>Step 1:</h2>
<p>
    Replace each letter in the key by its index in the alphabet $i \pmod{26}$ and create a square matrix $K_{n \times n}$ from the values.
</p>

{% include "components/alphabetIndexTable.html" %}

<p>With key ${{ key }}$,</p>

<div class="step">
    $$ {{ key }} \to {{ key_matrix }} $$
    then,
    $$ K = {{ key_matrix }} $$
</div>

<h2>Step 2:</h2>
<p>
    Ensure that the inverse operation applies on the key matrix $K_{n x n} \pmod{26}$, i.e. $K$ has an <a href="{{ url_for('main.invertible_matrix') }}">invertible matrix</a> $K^{-1}$.
</p>

{% if mode == "encrypt" %}

    <h1 class="mt-4">Encryption</h1>

    <h2>Step 1:</h2>
    <p>Clean the message by removing non-alphabetic characters.</p>

    <div class="step">
        $$ {{ original_message | tex_escape }} $$
        $$ \downarrow $$
        $$ {{ message | tex_escape }} $$
    </div>

    <h2>Step 2:</h2>
    <p>
        Create a series of $1 \times n$ matrices, where $n$ is derived from the key matrix $K_{n \times n}$. This requires the length of the message should be a multiple of $n$, otherwise fill the missing length with a placeholder character, usually $X$.
    </p>

    <div class="step">
        $$ {{ message | tex_escape }} $$
        $$ \downarrow $$
        $$ {{ message_chunk_vectors | join }} $$
    </div>

    <p>Convert each letter in the mesage using the same process as the key matrix generation.</p>

    <div class="step">
        $$ {{ message_chunk_vectors | join }} $$
        $$ \downarrow $$
        $$ {{ message_chunk_num_vectors | join }} $$
    </div>

    <h2>Step 3:</h2>
    <p>Multiply each column with the key matrix $K \pmod{26}$.</p>

    <div class="step">
        {% for (vector, modulo) in zip(message_chunk_num_vectors, product_modulos) %}
            $$ {{ key_matrix }} {{ vector }} = {{ modulo }} \pmod{26} $$
        {% endfor %}
    </div>

    <h2>Step 4:</h2>
    <p>
        Use the products $\pmod{26}$ as indices in the alphabet to produce letters, respecting capitalization.
    </p>

    <div class="step">
        $${{ product_modulos | join }} $$
        $$ \downarrow $$
        $$ {{ output_chunk_char_vectors | join }} $$
    </div>

    <h2>Step 5:</h2>
    <p>Join the letters into one string to get the output.</p>

    <div class="step">$${{ output | tex_escape }}$$</div>

{% else %}

    <h1 class="mt-4">Decryption</h1>

    <h2>Step 1:</h2>
    <p>Compute the inverse of the key matrix $K^{-1} \mod(26)$.</p>

    <div class="step">
        $$ K = {{ key_matrix }} $$
        $$\text{then}$$
        $$K^{-1} \pmod{26} = {{ inv_key_matrix }}$$
    </div>

    <h2>Step 2:</h2>
    <p>Multiply each column with the key matrix $K \pmod{26}$.</p>

    <div class="step">
        {% for (vector, modulo) in zip(message_chunk_num_vectors, product_modulos) %}
            $$ {{ inv_key_matrix }} {{ vector }} = {{ modulo }} \pmod{26} $$
        {% endfor %}
    </div>

    <h2>Step 3:</h2>
    <p>Use the products $\pmod{26}$ as indices in the alphabet to produce letters.</p>

    <div class="step">
        $${{ product_modulos | join }} $$
        $$ \downarrow $$
        $$ {{ output_chunk_char_vectors | join }} $$
    </div>

    <h2>Step 4:</h2>
    <p>Join the letters into one string to get the original plaintext.</p>

    <div class="step">$${{ output | tex_escape }}$$</div>
{% endif %}

{% include "learn/__output_data.html" %}
