<h2>Key Generation</h2>

<h3>Step 1:</h3>
<p>
    Compute $p \times    q$. This value, $n$, is used as the modulus for both the public and private keys.
</p>
<div class="step">
    $$ p = {{ p }},\: q = {{ q }} $$

    $$
    \begin{align*}
    n &= p \times q \\
    &= {{ p }} \times {{ q }} \\
    &= {{ n }} \\
    \end{align*}
    $$
</div>

<h3>Step 2:</h3>
<p>Compute the totient function,  $\phi(n) = (p - 1) \times (q - 1)$.</p>
<div class="step">
    $$
    \begin{align*}
    \phi(n) &= (p - 1) \times (q - 1) \\
    &= ({{ p }} - 1) \times ({{ q }} - 1) \\
    &= ({{ p - 1 }}) \times ({{ q - 1 }} ) \\
    &= {{ phi }} \\
    \end{align*}
    $$
</div>

<h3>Step 3:</h3>
<p>
    Public Key $e$ : Choose an integer $e$ such that $1 < e < \phi(n)$ and $e$ is coprime with $\phi(n)$.
    <p>
        Common choice are: $17$ (small and fast for encryption), and $65537$ (larger but still efficient, and is currently the most commonly used value for $e$).
    </p>
</p>
<div class="step">$$ e = {{ e }} $$</div>

<h3>Step 4:</h3>
<p>
    Compute $d$ as the modular multiplicative inverse of $e \pmod{\phi(n)}$:
    <br />
    $$ d \equiv e^{-1} \pmod{\phi(n)} $$
    meaning the product of $e$ and $d$ $\mod{\phi(n)}$ must be equal to $1$.
</p>
<div class="step">
    $$\displaylines{
    \text{if}\:e = {{ e }}\text{, then}\: d = {{ d }}, \\
    \text{since}\:\:{{ e }} \times {{ d }} \pmod{ {{ phi }} } = 1
    }$$
</div>

<h3>Step 5:</h3>
<p>Now we have calculated the values for the public and private keys.</p>
<div class="step">
    $$
    \begin{align*}
    \text{public key} &= ({{ e }}, {{ n }}) \\
    \text{private key} &= ({{ d }}, {{ n }})
    \end{align*}
    $$
</div>

<h2>Encryption</h2>

<h3>Step 1:</h3>
<p>Convert the plaintext into an array of positive integers using ASCII or Unicode.</p>
<div class="step">
    $${{ message | tex_escape }}$$
    $$
    \begin{align*}

    {% for c, conv in zip(message, message_to_ascii_code) %}
        {{ c }} &\rightarrow {{ conv }} \\
    {% endfor %}
    \end{align*}
    $$
</div>

<h3>Step 2:</h3>
<p>
    Use the encryption function $c(m) = m^{ {{ e }} } \pmod{ {{ n }} }$ to encrypt the converted plaintext.
</p>
<div class="step">
    $$
    \begin{align*}
    {% for m, c in zip(message_to_ascii_code,encrypted_ascii_codes) %}
        {{ m }}^{ {{ e }} } \pmod{ {{ n }} } &= {{ c }} \\
    {% endfor %}
    \end{align*}
    $$
</div>

<h3>Step 3:</h3>
<p>Output decrypted message by mapping the values into ASCII or Unicode.</p>
<div class="step">
    {% for ascii, out in zip(encrypted_ascii_codes, output) %}
        $ {{ ascii }} \rightarrow $ {{ out }}
        <br />
    {% endfor %}
</div>

<h3>Step 4:</h3>
<p>Combine the characters.</p>
<div class="step">{{ output }}</div>

<h2>Decryption</h2>

<h3>Step 1:</h3>
<p>Recover the values using the formula $M \equiv C^{d} \mod{n}$.</p>
<div class="step">
    {% for c, m in zip(encrypted_ascii_codes, message_to_ascii_code) %}
        $$ {{ c }}^{ {{ d }} } \pmod{ {{ n }} } \equiv  {{ m }} $$
    {% endfor %}
</div>

<h3>Step 3:</h3>
<p>Mapping the values into ASCII or Unicode.</p>
<div class="step">
    {% for ascii, c in zip(message_to_ascii_code, message) %}
        $ {{ ascii }} \rightarrow  \text{ {{ c | tex_escape }} }$
        <br />
    {% endfor %}
</div>

<h3>Step 2:</h3>
<p>Combine the characters to retrieve the original plaintext.</p>
<div class="step">$${{ message | tex_escape }}$$</div>

{% include "learn/__output_data.html" %}
