{% extends "layout.html" %}

{% block title %}
    Encrypt/Decrypt
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h1>Encrypt/Decrypt</h1>
        <div class="form-group form-floating">
            <div class="row mt-4">
                <div class="col">
                    <div class="row">
                        <label class="col-lg col-form-label" for="key">Key:</label>
                        <div class="col-lg-10">
                            <input type="text" name="key" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <label class="col-lg-2 col-form-label" for="method">Method:</label>
                        <div class="col-lg">
                            <select name="method" class="form-control">
                                <option value="rsa">RSA</option>
                                <option value="hill-cipher">Hill Cipher</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <label class="form-label" for="fieldinput">Plaintext / Ciphertext:</label>
                <textarea name="fieldinput" class="form-control" placeholder="Enter text here..." style="height: 200px"></textarea>
            </div>

            <div class="col">
                <!-- readonly textbox -->
                <label class="form-label" for="fieldoutput">Output:</label>
                <textarea name="fieldoutput"
                          class="form-control"
                          placeholder="Leave a comment here"
                          style="height: 200px"
                          readonly>Output goes here...</textarea>

                <div class="row mt-4 ms-auto">
                    <div class="col">
                        <button class="btn btn-primary">Encrypt</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary">Decrypt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
