<h2>Key Generation</h2>

<h3>Step 1:</h3>
<p>
    Replace each letter in the message input by a number modulo 26. We will use the leter's index in the alphabet starting with $0$. After which we will create a column matrix ($1 x k$ matrix where k is the square root of the key length) using the converted message.
</p>
<table class="table table-striped w-auto mx-auto">
    <tr>
        <th>Letter</th>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>H</td>
        <td>I</td>
        <td>J</td>
        <td>K</td>
        <td>L</td>
        <td>M</td>
        <td>N</td>
        <td>O</td>
        <td>P</td>
        <td>Q</td>
        <td>R</td>
        <td>S</td>
        <td>T</td>
        <td>U</td>
        <td>V</td>
        <td>W</td>
        <td>X</td>
        <td>Y</td>
        <td>Z</td>
    </tr>
    <tr>
        <th>Number</th>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
    </tr>
</table>

<div class="step">
    $$\text{ {{ hill_cipher.message }} } = {{ hill_cipher.message_char_nums }}$$
</div>

<h3>Step 2:</h3>
<p>
    The program ensures that the key matrix $K$ is invertible $\mod{26}$ (for the English alphabet).
</p>
<div class="step"></div>

<h3>Step 3:</h3>
<p>With user input $\text{ {{ hill_cipher.message }} }$, the key will be:</p>
<div class="step">
    $$
    {{ hill_cipher.key_matrix }}
    $$
</div>

<h2>Encryption</h2>

<h3>Step 1:</h3>
<p>Convert each letter to its corresponding numerical value.</p>
<div class="step"></div>

<h3>Step 2:</h3>
<p>Multiply with key matrix $\mod{26}$. Compute $C = K \times P \mod{26}$.</p>
<div class="step">
    $$\tiny (6 \times 0 + 24 \times 2 + 1 \times 19) \mod{26} = (0 + 48 + 19) \mod{26} = 15$$

    $$\tiny (13 \times 0 + 16 \times 2 + 10 \times 19) \mod{26} = (0 + 32 + 190) \mod{26}  = 0$$

    $$\tiny (20 \times 0 + 17 \times 2 + 15*19) \mod{26} = (0 + 34 + 285) \mod{26} = 9$$
</div>

<h3>Step 3:</h3>
<p>Ciphertext in numbers.</p>
<div class="step">$$[ 15, 0, 9 ]$$</div>

<h3>Step 4:</h3>
<p>Convert back to letters.</p>
<div class="step">$$\text{PAJ}$$</div>
