{% extends "ciphers/_ciphers_template.html" %}

{% block title %}
    Hill Cipher
{% endblock title %}

{% block style %}
    <style>
        input[name="key"] {
            text-transform: uppercase;
        }
    </style>
{% endblock style %}

{% block header %}
    <h1 class="text-center">Hill Cipher Cryptography</h1>
{% endblock header %}

{% block desc %}
    <p class="justify">
        The Hill cipher is a polygraphic substitution cipher that encrypts text by matrix multiplication. It was devised by Lester Hill in 1929, making it one of the first linear algebra-based encryption systems.
    </p>

    <p class="justify">
        This cipher encrypts letters as blocks rather than individually. A key matrix (a square matrix) is used to convert plaintext to ciphertext using modular arithmetic. To decrypt, the inverted key matrix is utilized.
    </p>
{% endblock desc %}

{% block input %}
    {% include "components/inputTextBox.html" %}
{% endblock input %}

{% block keys %}
    <div class="row align-items-center">
        <div class="col-lg-3">
            <label for="key-field">Custom key:</label>
        </div>
        <div class="col-lg-3">
            <input type="radio" id="btn-2x2" name="keysize" value="4" checked="true" />
            <label for="btn-2x2" class="me-4">$2 \times 2$</label>
            <input type="radio" id="btn-3x3" name="keysize" value="9" />
            <label for="btn-3x3">$3 \times 3$</label>
        </div>
        <div class="col">
            <input name="key" class="key-field form-control" type="text" autocapitalize="on" />
            <div id="error-key" class="invalid-feedback">Key matrix is not invertible.</div>
        </div>
    </div>
{% endblock keys %}

{% block output %}
    {% include "components/outputTextBox.html" %}
{% endblock output %}

{% block script %}
    <script>
        $(function() {
            function setMaxLength() {
                var maxlength = $("input[name='keysize']:checked").val();
                $("#key-field").attr("maxlength", maxlength);
            }

            setMaxLength();

            $("input[name='keysize']").on("change", setMaxLength);
        });
    </script>
{% endblock script %}
