{% extends "layout.html" %}

{% block title %}
    RSA
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">RSA Cryptography</h1>
        <p>
            Disclaimer: This page is for educational purposes only. Never use the tool on this page for actual security-sensitive activities.
        </p>

        <hr />

        <label for="message-field">Input textbox:</label>
        <textarea name="message-field" class="form-control mb-4" autocapitalize="on"></textarea>

        <h3>Custom Keys</h3>

        <div class="row">
            <h6 class="subtext">Input two large prime numbers, or leave them empty to generate ones.</h6>
        </div>

        <div class="row">
            <div class="col">
                <label for="prime-p">Prime p:</label>
                <input type="text" id="prime-p" class="key-input form-control" />
                <div id="error-p" class="invalid-feedback">Error.</div>
            </div>

            <div class="col">
                <label for="prime-q">Prime q:</label>
                <input type="text" id="prime-q" class="key-input form-control" />
                <div id="error-q" class="invalid-feedback">Error.</div>
            </div>

            <div class="row">
                <button class="btn btn-warning w-25 mt-3 ms-3" type="button" id="rsa-generate-keys-btn">
                    Generate
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="public-key">Public key $(n, e)$:</label>
                <input name="public-key" class="form-control" readonly />
            </div>

            <div class="col">
                <label for="private-key">Private key $(d, n)$:</label>
                <input name="private-key" class="form-control" readonly />
            </div>
        </div>

        <div class="float-end mt-4 mb-4">
            <button class="btn btn-warning" id="rsa-encrypt-btn">Encrypt</button>
            <button class="btn btn-warning" id="rsa-decrypt-btn">Decrypt</button>
        </div>

        <textarea name="output-field" class="form-control mb-4" placeholder="Output" readonly autocapitalize="on">Output goes here...</textarea>

        <div class="learn-section mb-4"></div>
    </div>

    <script type ="text/javascript" src="{{ url_for('static', filename='js/api.js')}}" defer></script>
{% endblock content %}
