{% extends "layout.html" %}

{% block title %}
    FieldSecure
{% endblock title %}

{% block content %}
    <style>
        #logo {
            width: 200px;
        }
    </style>

    <div class="px-4 py-5 my-5 text-center">
        <img src="{{ url_for('static', filename='img/encrypted.png') }}"
             alt="logo"
             class="d-block mx-auto mb-4"
             id="logo" />
        <h1 class="display-5 fw-bold text-body-emphasis">FieldSecure</h1>

        <div class="mt-5">
            <a class="btn btn-warning text-white" href="{{ url_for('ciphers.rsa_view') }}">RSA</a>
            <a class="btn btn-warning text-white" href="{{ url_for('ciphers.hill_cipher_view') }}">Hill Cipher</a>
            <a class="btn btn-warning text-white" href="{{ url_for('ciphers.atbash_cipher_view') }}">Atbash Cipher</a>
        </div>
    </div>
{% endblock content %}
